<a href="https://colab.research.google.com/github/MadhuvanthiThanikachalam/Machine-learning/blob/main/Decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
eps=np.finfo(float).eps
from numpy import log2 as log
Age = 'youth,youth,middle,senior,senior,senior,middle,youth,youth,senior,youth,middle,middle,senior'.split(',')
Income = 'high,high,high,medium,low,low,low,medium,low,medium,medium,medium,high,medium'.split(',')
Student = 'no,no,no,no,yes,yes,yes,no,yes,yes,yes,no,yes,no'.split(',')
Credit_rating = 'fair,excellent,fair,fair,fair,excellent,excellent,fair,fair,fair,excellent,excellent,fair,excellent'.split(',')
Buys_laptop = 'no,no,yes,yes,yes,no,yes,no,yes,yes,yes,yes,yes,no'.split(',')
dataset ={'Age':Age,'Income':Income,'Student':Student,'Credit_rating':Credit_rating,'Buys_laptop':Buys_laptop}
df = pd.DataFrame(dataset,columns=['Age','Income','Student','Credit_rating','Buys_laptop'])
df

       Age  Income Student Credit_rating Buys_laptop
0    youth    high      no          fair          no
1    youth    high      no     excellent          no
2   middle    high      no          fair         yes
3   senior  medium      no          fair         yes
4   senior     low     yes          fair         yes
5   senior     low     yes     excellent          no
6   middle     low     yes     excellent         yes
7    youth  medium      no          fair          no
8    youth     low     yes          fair         yes
9   senior  medium     yes          fair         yes
10   youth  medium     yes     excellent         yes
11  middle  medium      no     excellent         yes
12  middle    high     yes          fair         yes
13  senior  medium      no     excellent          no

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
entropy_node = 0  
values = df.Buys_laptop.unique()  
for value in values:
    fraction = df.Buys_laptop.value_counts()[value]/len(df.Buys_laptop)  
    entropy_node += -fraction*np.log2(fraction)
entropy_node

0.9402859586706309

In [ ]:
def ent(df,attribute):
    target_variables = df.Buys_laptop.unique()  
    variables = df[attribute].unique()    
    entropy_attribute = 0
    for variable in variables:
        entropy_each_feature = 0
        for target_variable in target_variables:
            num = len(df[attribute][df[attribute]==variable][df.Buys_laptop ==target_variable]) #numerator
            den = len(df[attribute][df[attribute]==variable])  #denominator
            fraction = num/(den+eps)  #pi
            entropy_each_feature += -fraction*log(fraction+eps) 
        fraction2 = den/len(df)
        entropy_attribute += -fraction2*entropy_each_feature   
    return(abs(entropy_attribute))
a_entropy = {k:ent(df,k) for k in df.keys()[:-1]}
a_entropy

{'Age': 0.6935361388961914,
 'Credit_rating': 0.892158928262361,
 'Income': 0.9110633930116756,
 'Student': 0.7884504573082889}

In [ ]:
def ig(e_dataset,e_attr):
    return(e_dataset-e_attr)

In [ ]:
IG = {k:ig(entropy_node,a_entropy[k]) for k in a_entropy}
IG

{'Age': 0.24674981977443955,
 'Credit_rating': 0.04812703040826993,
 'Income': 0.029222565658955313,
 'Student': 0.15183550136234203}