<a href="https://colab.research.google.com/github/MadhuvanthiThanikachalam/Machine-learning/blob/main/kNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv("/content/Life_expectancy.csv")

In [ ]:
df.head()

   Overall Life  Male Life  Female Life Continent
0          89.5       85.6         93.5    Europe
1          85.0       81.7         88.5      Asia
2          85.0       82.3         87.8      Asia
3          84.5       81.6         87.6      Asia
4          83.3       80.7         86.1    Europe

In [ ]:

x = df.drop(columns=["Continent"])
y = df["Continent"]

In [ ]:
knn = KNeighborsClassifier(n_neighbors=1)

In [ ]:
knn.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [ ]:
prediction1 = knn.predict([[88,50,90]])
print("The predicted Output, when KNN = 1 is: ",prediction1)

The predicted Output, when KNN = 1 is:  ['Europe']

In [ ]:
knn = KNeighborsClassifier(n_neighbors=2)

In [ ]:
knn.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=2, p=2,
                     weights='uniform')

In [ ]:
prediction2 = knn.predict([[88,50,90]])
print("The predicted Output, when KNN = 2 is: ",prediction2)

The predicted Output, when KNN = 2 is:  ['Asia']

In [ ]:
knn = KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [ ]:
prediction3 = knn.predict([[88,50,90]])
print("The predicted Output, when KNN = 3 is: ",prediction3)

The predicted Output, when KNN = 3 is:  ['Africa']

In [ ]:
knn = KNeighborsClassifier(n_neighbors=5)

In [ ]:
knn.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [ ]:
prediction4 = knn.predict([[88,50,90]])
print("The predicted Output, when KNN = 5 is: ",prediction4)

The predicted Output, when KNN = 5 is:  ['Asia']

In [ ]:
knn = KNeighborsClassifier(n_neighbors=10)

In [ ]:
knn.fit(x,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=10, p=2,
                     weights='uniform')

In [ ]:
prediction5 = knn.predict([[88,50,90]])
print("The predicted Output, when KNN = 10 is: ",prediction5)

The predicted Output, when KNN = 10 is:  ['Europe']